body {
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 40px;
    background: antiquewhite;
}
h2 {
    text-align: center;
}
form {
    margin-bottom: 0px;
}
.textAreaDiv {
    width: 100%;
    margin-top: 5px;
    height: 90%;
    display: flex;
    flex-direction: row;    
}
.heading {
    text-align: center;
    font-size: 23px;
}
.timerClass {
    float: right;
}
.timeLeft {
    padding-top: 5px;
    display: none;
    margin: 5px;
    margin-left: 0px;
}
.counter {
    float: left;
    margin-top: 25px;
}
#prompt {
    width: 30%;
}
#reply {
    width: 70%;
    margin-left: 10;
}